<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Plex">
        <setting id="plex.server_url" type="text" label="URL du serveur Plex" default="http://192.168.100.133:32400"/>
        <setting id="plex.token" type="text" label="Token Plex (X-Plex-Token)" default=""/>
    </category>
    <category label="Akasha OS Connector">
        <setting id="connector.server_url" type="text" label="URL du connector (ex: https://connector.akasha.ing)" default=""/>
        <setting id="connector.username" type="text" label="Nom d'utilisateur (interne)" default=""/>
    </category>
    <category label="Onglets">
        <setting id="tab.default" type="enum" label="Onglet par defaut" default="0" values="Divertissement|Jeux|App"/>
    </category>
    <category label="App">
        <setting id="app.pinned" type="text" label="Applications epinglees (interne)" default=""/>
    </category>
    <category label="Steam">
        <setting id="steam.api_key" type="text" label="Cle API Steam (Web API)" default=""/>
        <setting id="steam.steam_id" type="text" label="SteamID64" default=""/>
    </category>
    <category label="Sunshine (Moonlight)">
        <setting id="sunshine.server_url" type="text" label="URL du serveur Sunshine (ex: https://192.168.1.x:47990)" default=""/>
        <setting id="sunshine.username" type="text" label="Nom d'utilisateur Sunshine" default=""/>
        <setting id="sunshine.password" type="text" label="Mot de passe Sunshine" default=""/>
    </category>
</settings>
