<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Plex">
        <setting id="plex.server_url" type="text" label="URL du serveur Plex" default="http://192.168.100.133:32400"/>
        <setting id="plex.token" type="text" label="Token Plex (X-Plex-Token)" default=""/>
    </category>
    <category label="Akasha OS Connector">
        <setting id="connector.server_url" type="text" label="URL du connector (ex: https://connector.akasha.ing)" default=""/>
        <setting id="connector.username" type="text" label="Nom d'utilisateur (interne)" default=""/>
        <setting id="connector.session_token" type="text" label="Token de session (interne)" default=""/>
    </category>
    <category label="Onglets">
        <setting id="divert.last_subtab" type="enum" label="Dernier sous-onglet Divertissement" default="0" values="Recommande|Bibliotheques|Categories"/>
        <setting id="divert.last_library" type="text" label="Derniere bibliotheque consultee (interne)" default=""/>
        <setting id="divert.pinned_libraries" type="text" label="Bibliotheques epinglees (interne)" default=""/>
        <setting id="divert.library_order" type="text" label="Ordre des bibliotheques (interne)" default=""/>
    </category>
    <category label="App">
        <setting id="app.pinned" type="text" label="Applications epinglees (interne)" default=""/>
    </category>
    <category label="Steam">
        <setting id="steam.api_key" type="text" label="Cle API Steam (Web API)" default=""/>
        <setting id="steam.steam_id" type="text" label="SteamID64" default=""/>
    </category>
    <category label="Sunshine (Moonlight)">
        <setting id="sunshine.server_url" type="text" label="URL du serveur Sunshine (ex: https://192.168.1.x:47990)" default=""/>
        <setting id="sunshine.username" type="text" label="Nom d'utilisateur Sunshine" default=""/>
        <setting id="sunshine.password" type="text" label="Mot de passe Sunshine" default=""/>
    </category>
</settings>
