[Unit]
Description=Akasha OS Reboot Splash
DefaultDependencies=no
After=kodi.service
Before=reboot.target systemd-reboot.service

[Service]
Type=oneshot
ExecStart=/storage/.kodi/scripts/show-splash.sh /storage/.kodi/media/splash-reboot.png
TimeoutStartSec=5

[Install]
WantedBy=reboot.target
