[Unit]
Description=Set WiFi regulatory domain (FR) before iwd/connman
DefaultDependencies=no
After=sys-subsystem-net-devices-wlan0.device dbus.service
Before=connman.service iwd.service dbus-net.connman.iwd.service
Wants=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/iw reg set FR
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
